<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="chat-page">
    <div class="chat-container">
        <header>
            <h1>Chat with Friends</h1>
            <button id="logout-button">Logout</button>
        </header>
        <div class="chat-window">
            <div id="messages" data-username="{{ session['username'] }}"></div>
        </div>
        <div class="chat-input">
            <input type="text" id="message-input" placeholder="Type a message">
            <button id="send-button"><i class="fas fa-paper-plane"></i></button>
        </div>
        <div class="media-options">
            <button id="image-button" class="media-button"><i class="fas fa-image"></i></button>
            <button id="camera-button" class="media-button"><i class="fas fa-camera"></i></button>
        </div>
    </div>
    
    <input type="file" id="image-input" accept="image/*" style="display: none;">
    
    <div id="camera-modal" class="modal">
        <div class="modal-content">
            <span id="close-modal" class="close-button">&times;</span>
            <video id="video" autoplay></video>
            <button id="capture-button" class="media-button">
                <i class="fas fa-camera"></i> <!-- Font Awesome camera icon -->
            </button>            
            <canvas id="canvas" style="display:none;"></canvas>
        </div>
    </div>
    <div class="image-modal" style="display: none;">
        <div class="image-modal-content">
            <span id="close-image-modal" class="close">&times;</span>
            <img id="modal-image" src="" alt="Full Size Image">
        </div>
    
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
